# Hexo
.DS_Store
Thumbs.db
db.json
debug.log
node_modules/
public/
.deploy/

# Jupyter
.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*$py.class

# Data
content/sales-forecasting-challenge/store-sales-time-series-forecasting-data
Content/link-predictions/data/*